{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="section has-background-link-light">
        <div class="container">
            <form action="" method="GET">
                <div class="field is-grouped is-flex is-align-items-center is-flex-wrap-wrap">
                    <label class="label p-2 mt-2">Nome do produto: </label>
                    <div class="control is-expanded">
                        <input class="input" type="text" name="buscar" value="{{ request.GET.buscar }}" placeholder="Digite o nome do produto">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
                <div style="text-align: center;"><h1 class="subtitle is-size-4">Produtos Cadastrados</h1></div>
                <div class="table">
                    <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-centered">Nome</th>
                                <th class="has-text-centered">Preço</th>
                                <th class="has-text-centered">Fornecedor</th>
                                <th class="has-text-centered">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in object_list %}
                                <tr>
                                    <td> {{ produto.nome }} </td>
                                    <td> {{ produto.preco }} </td>
                                    <td> {{ produto.fornecedor }} </td>
                                    <td> {{ produto.quantidade }} </td>
                                    <div class="modal" id="modal{{ produto.id }}">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card.head">
                                                <p class="modal-card-title">produto: {{ produto.nome }}</p>
                                                <button class="delete" aria-label="close" data-bulma-modal="close" id="btnClose"></button>
                                            </header>
                                        </div>
                                    </div>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h2>Não existem produtos cadastrados!</h2>
            {% endif %}
        </div>
    </section>
{% endblock %}